@import "vue-select/dist/vue-select.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

p {
  color: var(--ls-color-primary);
  margin: 0;
}

.text-small {
  font-size: 0.8rem;
}

#hypothesis {
  --ls-bg-color: rgb(0, 0, 0);
  --ls-color-primary: rgb(255, 255, 255);
  max-width: fit-content;
  border-radius: 0.25rem;
  position: absolute;
  top: 3rem;
  right: 2rem;
  background-color: var(--ls-bg-color);
  color: var(--ls-color-primary);
  padding: 0.5rem 1rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0/0.1), 0 2px 4px -2px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#hypothesis.light {
  --ls-bg-color: rgb(255, 255, 255);
  --ls-color-primary: rgb(107, 114, 128);
}

#form {
  display: flex;
  flex-direction: column;
  padding: 0.25em;
  gap: 1rem;
  max-width: fit-content;
  min-width: 350px;
}

.light .select .vs__search::placeholder,
.light .select .vs__dropdown-toggle,
.light .select .vs__dropdown-menu {
  background: white;
  color: black;
}

.select .vs__search::placeholder,
.select .vs__dropdown-toggle,
.select .vs__dropdown-menu {
  background: #333;
  color: white;
  font-size: 85%;
}

.light .vs__dropdown-option {
  color: black;
}

.dark .vs__dropdown-option {
  color: white;
}

.vs__selected-options {
  width: 0;
}

.light .vs__selected {
  color: black;
}

.vs__selected {
  color: white;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 20px);
  overflow: hidden;
}

.vs__clear {
  fill: #0084c7;
}

.dark .vs--single.vs--open .vs__selected {
  opacity: 0.8;
}

#fetch,
button {
  background-color: #0084c7;
  border-radius: 8px;
  border: 0;
  color: white;
  min-height: 2rem;
  padding: 0.25rem 0.5rem;
  width: fit-content;
}

#fetch:hover:not(:disabled),
button:hover:not(:disabled) {
  background-color: rgb(0, 91, 138);
}

#fetch:disabled,
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#create {
  margin-top: 1rem;
  min-height: 2rem;
  padding: 0.5rem 1rem;
}

input {
  padding: 0.5rem;
}

#hypothesis iframe {
  width: 100%;
  height: 100%;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

/* Fields */

.fieldLabel {
  margin-bottom: 0.5rem;
}

#token {
  max-width: 40ch;
}

#user {
  max-width: 30ch;
}

#accountSetupFields {
  display: flex;
  flex-direction: column;
}

#accountSetupFields input {
  margin-bottom: 0.5rem;
}

.dark #accountSetupFields input {
  color: white;
  background-color: #333;
  border: 2px solid #333;
  border-style: inset;
}

#accountSetupFields p {
  margin-bottom: 0.25rem;
}

/* Animations */
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
