
@import 'vue-select/dist/vue-select.css';

html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


#wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#hypothesis {
  max-width: 100%;
  position: absolute;
  top: 3em;
  right: 0;
  background-color: #ccc;
}

#form {
  display: grid;
  grid-template-areas:
      'label input fetch'
      'label input create'
      'select select select';
  grid-gap: .1em 1em;
  padding: .1em;
}

.select .vs__search::placeholder,
.select .vs__dropdown-toggle,
.select .vs__dropdown-menu {
  background: white;
  color: black;
  font-size: 85%;
}
.vs__selected-options { width: 0; }
.vs__selected {
  color: black;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 20px);
  overflow: hidden;
}

.select { grid-area: select; }
#fetch { grid-area: fetch; }
#create { grid-area: create; }
input { width: 30em; }

#hypothesis iframe { width: 100%; height: 100%; }

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
